<div class="row btn-page">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="card-datatable">
      <div class="row align-items-center m-l-0">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 text-right">
          <button class="btn btn-success btn-sm btn-round has-ripple" (click)="modalDoctor.show()"><i class="feather icon-plus"></i> Ajouter un bien</button>
        </div>
        <app-ui-modal #modalDoctor>
          <div class="app-modal-header">
            <h5 class="modal-title">Ajouter un bien</h5>
            <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalDoctor.hide()"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="app-modal-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="Name" placeholder="Nom du bien">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fill">
                  <input type="text" class="form-control" id="prix" placeholder="Prix">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fill">
                  <input type="text" class="form-control" id="Phone" placeholder="Contact">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="location" placeholder="Localisation">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <textarea class="form-control" placeholder="Description" id="Description" rows="3"></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fill">
                  <label class="floating-label" for="Icon">Image du bien</label>
                  <input type="file" class="form-control" id="Icon" placeholder="sdf">
                </div>
              </div>
            </div>
          </div>
          <div class="app-modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modalDoctor.hide()">Annuler</button>
            <button type="button" class="btn btn-primary">Enregistrer</button>
          </div>
        </app-ui-modal>
      </div>
      <div class="table-responsive">
        <table datatable id="report-table" class="table table-bordered table-striped mb-0">
          <thead>
          <tr>
            <th>Image</th>
            <th>Nom du bien</th>
            <th>Prix</th>
            <th>Contact</th>
            <th>Détail</th>
            <th>Options</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-center">
              <img src="assets/images/user/avatar-2.jpg" class="img-fluid img-radius wid-40" alt="">
            </td>
            <td>Micheal Pewd</td>
            <td>25.000</td>
            <td>+984-46-9388638</td>
            <td>Un meuble suréquipé qui offre de multiple service</td>
            <td>
              <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-edit"></i>&nbsp;Modifier </a>
              <a href="javascript:" class="btn btn-danger btn-sm"><i class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <img src="assets/images/user/avatar-2.jpg" class="img-fluid img-radius wid-40" alt="">
            </td>
            <td>Micheal Pewd</td>
            <td>25.000</td>
            <td>+984-46-9388638</td>
            <td>Un meuble suréquipé qui offre de multiple service</td>
            <td>
              <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-edit"></i>&nbsp;Modifier </a>
              <a href="javascript:" class="btn btn-danger btn-sm"><i class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <img src="assets/images/user/avatar-2.jpg" class="img-fluid img-radius wid-40" alt="">
            </td>
            <td>Micheal Pewd</td>
            <td>25.000</td>
            <td>+984-46-9388638</td>
            <td>Un meuble suréquipé qui offre de multiple service</td>
            <td>
              <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-edit"></i>&nbsp;Modifier </a>
              <a href="javascript:" class="btn btn-danger btn-sm"><i class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <img src="assets/images/user/avatar-2.jpg" class="img-fluid img-radius wid-40" alt="">
            </td>
            <td>Micheal Pewd</td>
            <td>25.000</td>
            <td>+984-46-9388638</td>
            <td>Un meuble suréquipé qui offre de multiple service</td>
            <td>
              <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-edit"></i>&nbsp;Modifier </a>
              <a href="javascript:" class="btn btn-danger btn-sm"><i class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <img src="assets/images/user/avatar-2.jpg" class="img-fluid img-radius wid-40" alt="">
            </td>
            <td>Micheal Pewd</td>
            <td>25.000</td>
            <td>+984-46-9388638</td>
            <td>Un meuble suréquipé qui offre de multiple service</td>
            <td>
              <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-edit"></i>&nbsp;Modifier </a>
              <a href="javascript:" class="btn btn-danger btn-sm"><i class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <img src="assets/images/user/avatar-2.jpg" class="img-fluid img-radius wid-40" alt="">
            </td>
            <td>Micheal Pewd</td>
            <td>25.000</td>
            <td>+984-46-9388638</td>
            <td>Un meuble suréquipé qui offre de multiple service</td>
            <td>
              <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-edit"></i>&nbsp;Modifier </a>
              <a href="javascript:" class="btn btn-danger btn-sm"><i class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <img src="assets/images/user/avatar-2.jpg" class="img-fluid img-radius wid-40" alt="">
            </td>
            <td>Micheal Pewd</td>
            <td>25.000</td>
            <td>+984-46-9388638</td>
            <td>Un meuble suréquipé qui offre de multiple service</td>
            <td>
              <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-edit"></i>&nbsp;Modifier </a>
              <a href="javascript:" class="btn btn-danger btn-sm"><i class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
