<div class="row btn-page">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="card-datatable">
        <div class="row align-items-center m-l-0">
          <div class="col-sm-6"></div>
          <div class="col-sm-6 text-right">
            <button class="btn btn-success btn-sm btn-round has-ripple" (click)="modalDepartment.show()"><i class="feather icon-plus"></i>Ajouter Type</button>
          </div>
          <app-ui-modal #modalDepartment>
            <div class="app-modal-header">
              <h5 class="modal-title">Ajouter type</h5>
              <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalDepartment.hide()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="app-modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="Name" placeholder="Nom">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group fill">
                    <input type="file" class="form-control" id="Icon" placeholder="Icon">
                  </div>
                </div>
              </div>
            </div>
            <div class="app-modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modalDepartment.hide()">Effacer</button>
              <button type="button" class="btn btn-primary">Enregistrer</button>
            </div>
          </app-ui-modal>
        </div>
        <div class="table-responsive">
          <table datatable id="report-table" class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
              <th>ID</th>
              <th width="50%">Type de Biens</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-center">
                1
              </td>
              <td>There are many variations of passages of Lorem Ipsum ...</td>
              <td>
                <a href="javascript:" class="btn btn-primary btn-sm"><i class="feather icon-eye"></i>Voir</a>
                <a href="javascript:" class="btn btn-info btn-sm" (click)="modalDepartment.show()"><i class="feather icon-edit"></i>&nbsp;Modifier</a>
                <a href="javascript:" class="btn btn-danger btn-sm"><i class="feather icon-trash-2"></i>&nbsp;Supprimer </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                2
              </td>
              <td>There are many variations of passages of Lorem Ipsum ...</td>
              <td>
                <a href="javascript:" class="btn btn-primary btn-sm"><i class="feather icon-eye"></i>Voir</a>
                <a href="javascript:" class="btn btn-info btn-sm" (click)="modalDepartment.show()"><i class="feather icon-edit"></i>&nbsp;Modifier </a>
                <a href="javascript:" class="btn btn-danger btn-sm"><i class="feather icon-trash-2"></i>&nbsp;Supprimer </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                3
              </td>
              <td>There are many variations of passages of Lorem Ipsum ...</td>
              <td>
                <a href="javascript:" class="btn btn-primary btn-sm"><i class="feather icon-eye"></i>Voir</a>
                <a href="javascript:" class="btn btn-info btn-sm" (click)="modalDepartment.show()"><i class="feather icon-edit"></i>&nbsp;Modifier </a>
                <a href="javascript:" class="btn btn-danger btn-sm"><i class="feather icon-trash-2"></i>&nbsp;Supprimer</a>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                4
              </td>
              <td>There are many variations of passages of Lorem Ipsum ...</td>
              <td>
                <a href="javascript:" class="btn btn-primary btn-sm"><i class="feather icon-eye"></i>Voir</a>
                <a href="javascript:" class="btn btn-info btn-sm" (click)="modalDepartment.show()"><i class="feather icon-edit"></i>&nbsp;Modifier </a>
                <a href="javascript:" class="btn btn-danger btn-sm"><i class="feather icon-trash-2"></i>&nbsp;Supprimer </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                5
              </td>
              <td>There are many variations of passages of Lorem Ipsum ...</td>
              <td>
                <a href="javascript:" class="btn btn-primary btn-sm"><i class="feather icon-eye"></i>Voir</a>
                <a href="javascript:" class="btn btn-info btn-sm" (click)="modalDepartment.show()"><i class="feather icon-edit"></i>&nbsp;Modifier </a>
                <a href="javascript:" class="btn btn-danger btn-sm"><i class="feather icon-trash-2"></i>&nbsp;Supprimer </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
    </app-card>
  </div>
</div>
