<div class="user-profile user-card mb-4">
  <div class="card-header border-0 p-0 pb-0">
    <div class="cover-img-block">
      <div class="overlay"></div>
      <div class="change-cover">
        <div class="dropdown" ngbDropdown placement="bottom-left">
          <a class="drp-icon dropdown-toggle" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="icon feather icon-camera"></i></a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:"><i class="feather icon-upload-cloud mr-2"></i>upload new</a>
            <a class="dropdown-item" href="javascript:"><i class="feather icon-image mr-2"></i>from photos</a>
            <a class="dropdown-item" href="javascript:"><i class="feather icon-film mr-2"></i> upload video</a>
            <a class="dropdown-item" href="javascript:"><i class="feather icon-trash-2 mr-2"></i>remove</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body py-0">
    <div class="user-about-block m-0">
      <div class="row">
        <div class="col-md-4 text-center mt-n5">
          <div class="change-profile text-center">
            <div class="dropdown w-auto d-inline-block" ngbDropdown>
              <a class="dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle aria-haspopup="true"
                aria-expanded="false">
                <div class="profile-dp">
                  <div class="position-relative d-inline-block">
                    <img class="img-radius img-fluid wid-100" src="assets/images/user/avatar-5.jpg" alt="User image">
                  </div>
                  <div class="overlay">
                    <span>change</span>
                  </div>
                </div>
                <div class="certificated-badge">
                  <i class="fas fa-certificate text-c-blue bg-icon"></i>
                  <i class="fas fa-check front-icon text-white"></i>
                </div>
              </a>
              <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:"><i class="feather icon-upload-cloud mr-2"></i>upload new</a>
                <a class="dropdown-item" href="javascript:"><i class="feather icon-image mr-2"></i>from photos</a>
                <a class="dropdown-item" href="javascript:"><i class="feather icon-shield mr-2"></i>Protact</a>
                <a class="dropdown-item" href="javascript:"><i class="feather icon-trash-2 mr-2"></i>remove</a>
              </div>
            </div>
          </div>
          <h5 class="mb-1">Lary Doe</h5>
        </div>
        <div class="col-md-12 mt-md-4">
          <div class="row">
            <div class="col-md-6">
              <h5 class="mb-1 text-muted d-flex align-items-end text-h-primary">Adresse de facturation</h5>
              <div class="clearfix"></div>
              <div class="clearfix"></div>
              <div class="media">
                <i class="feather icon-map-pin mr-2 mt-1 f-18"></i>
                <div class="media-body">
                  <p class="mb-0 text-muted">4289 Calvin Street</p>
                  <p class="mb-0 text-muted">Baltimore, near MD Tower Maryland,</p>
                  <p class="mb-0 text-muted">Maryland (21201)</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h5 class="mb-1 text-muted d-flex align-items-end text-h-primary">Adresse de livraison</h5>
              <div class="clearfix"></div>
              <div class="clearfix"></div>
              <div class="media">
                <i class="feather icon-map-pin mr-2 mt-1 f-18"></i>
                <div class="media-body">
                  <p class="mb-0 text-muted">4289 Calvin Street</p>
                  <p class="mb-0 text-muted">Baltimore, near MD Tower Maryland,</p>
                  <p class="mb-0 text-muted">Maryland (21201)</p>
                </div>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs profile-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'personal'}"
                (click)="this.activeTab = 'personal'" id="personal" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="profile" aria-selected="false"><i class="feather icon-user mr-2"></i>Compte
                utilisateur</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'home'}"
                (click)="this.activeTab = 'home'" id="home-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="home" aria-selected="true"><i class="feather icon-phone mr-2"></i>Paiements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'profile'}"
                (click)="this.activeTab = 'profile'" id="profile-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="profile" aria-selected="false"><i class="feather icon-user mr-2"></i>Echéanciers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'gallery'}"
                (click)="this.activeTab = 'gallery'" id="gallery-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="gallery" aria-selected="false"><i class="feather icon-image mr-2"></i>Documents</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- profile body start -->
<div class="row">
  <div class="col-md-12 order-md-12">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'personal'}" id="home" role="tabpanel"
        aria-labelledby="home-tab">
        <div class="merge-card">
          <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Informations du client</h5>
            <button type="button"
              (click)="this.editProfile = !this.editProfile; this.editProfileIcon = this.editProfile ? 'icon-x': 'icon-edit';"
              class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit"
              aria-expanded="false" aria-controls="pro-det-edit-1 pro-det-edit-2">
              <i class="feather" [ngClass]="editProfileIcon"></i>
            </button>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Nom complet</label>
              <div class="col-sm-9">
                Sandé Franck oscar
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">E-mail</label>
              <div class="col-sm-9">
                francksande@live.ca
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Adresse de facturation</label>
              <div class="col-sm-9">
                <p class="mb-0 text-muted">4289 Calvin Street</p>
                <p class="mb-0 text-muted">Baltimore, near MD Tower Maryland,</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Adresse de livraison</label>
              <div class="col-sm-9">
                <p class="mb-0 text-muted">4289 Calvin Street</p>
                <p class="mb-0 text-muted">Baltimore, near MD Tower Maryland,</p>
              </div>
            </div>

          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Nom complet</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Nom complet" value="Sande Franck oscar">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">E-mail</label>
              <div class="col-sm-9">
                <div class="col-sm-9">
                  <input type="email" class="form-control" placeholder="E-mail" value="francksande@live.ca">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Adresse de facturation</label>
              <div class="col-sm-9">
                <textarea
                  class="form-control">4289 Calvin Street,  Baltimore, near MD Tower Maryland, Maryland (21201)</textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Adresse de livraison</label>
              <div class="col-sm-9">
                <textarea
                  class="form-control">4289 Calvin Street,  Baltimore, near MD Tower Maryland, Maryland (21201)</textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                <button type="button" class="btn btn-primary">Enregistrer</button>
              </div>
            </div>
          </app-card>
        </div>
      </div>
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'home'}" id="paiemen" role="tabpanel"
        aria-labelledby="paiement-tab">
        <div class="col-sm-12">
          <app-card cardTitle="Les paiements" cardClass="card-datatable" [options]="false">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtExportButtonOptions"
                class="table table-striped table-bordered table-hover"></table>
            </div>
          </app-card>
        </div>
      </div>
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'profile'}" id="profile" role="tabpanel"
        aria-labelledby="profile-tab">
        <div class="col-sm-12">
          <app-card cardTitle="Echeancier" cardClass="card-datatable" [options]="false">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtExportButtonOptions"
                class="table table-striped table-bordered table-hover"></table>
            </div>
          </app-card>
        </div>

      </div>
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'gallery'}" id="gallery" role="tabpanel"
        aria-labelledby="gallery-tab">
        <div class="row text-center">
          <div class="col-sm-12">
            <app-card [hidHeader]="true" cardClass="card-datatable">
              <div class="row align-items-center m-l-0">
                <div class="col-sm-6"></div>
                <div class="col-sm-6 text-right">
                  <button class="btn btn-success btn-sm btn-round has-ripple" (click)="modalSellers.show()"><i
                      class="feather icon-plus"></i> Ajouter un document</button>
                </div>
                <app-ui-modal #modalSellers>
                  <div class="app-modal-header">
                    <h5 class="modal-title">Ajouter document</h5>
                    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
                      (click)="modalSellers.hide()"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="app-modal-body">
                    <div class="col-sm-12">
                      <app-card cardTitle="File Upload" [options]="false">
                        <form [formGroup]="demoForm">
                          <file-upload formControlName="files"></file-upload>
                        </form>
                        <div class="text-center m-t-20">
                          <button class="btn btn-primary">Upload Now</button>
                        </div>
                      </app-card>
                    </div>
                  </div>
                  <div class="app-modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                      (click)="modalSellers.hide()">Annuler</button>
                    <button type="button" class="btn btn-primary">Enregistrer</button>
                  </div>
                </app-ui-modal>
              </div>
              <div class="table-responsive">
                <table datatable id="report-table" class="table mb-0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nom du document</th>
                      <th>Date d'ajout</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Micheal Pewd</td>
                      <td>09/10/1990</td>
                      <td><span class="badge badge-danger">Suspendu</span></td>
                      <td>
                        <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-eye"></i>&nbsp;Voir
                        </a>
                        <a href="javascript:" class="btn btn-danger btn-sm"><i
                            class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Micheal Pewd</td>
                      <td>09/10/1990</td>
                      <td><span class="badge badge-danger">Suspendu</span></td>
                      <td>
                        <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-eye"></i>&nbsp;Voir
                        </a>
                        <a href="javascript:" class="btn btn-danger btn-sm"><i
                            class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Micheal Pewd</td>
                      <td>09/10/1990</td>
                      <td><span class="badge badge-danger">Suspendu</span></td>
                      <td>
                        <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-eye"></i>&nbsp;Voir
                        </a>
                        <a href="javascript:" class="btn btn-danger btn-sm"><i
                            class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Micheal Pewd</td>
                      <td>09/10/1990</td>
                      <td><span class="badge badge-danger">Suspendu</span></td>
                      <td>
                        <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-eye"></i>&nbsp;Voir
                        </a>
                        <a href="javascript:" class="btn btn-danger btn-sm"><i
                            class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Micheal Pewd</td>
                      <td>09/10/1990</td>
                      <td><span class="badge badge-danger">Suspendu</span></td>
                      <td>
                        <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-eye"></i>&nbsp;Voir
                        </a>
                        <a href="javascript:" class="btn btn-danger btn-sm"><i
                            class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Micheal Pewd</td>
                      <td>09/10/1990</td>
                      <td><span class="badge badge-danger">Suspendu</span></td>
                      <td>
                        <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-eye"></i>&nbsp;Voir
                        </a>
                        <a href="javascript:" class="btn btn-danger btn-sm"><i
                            class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
                      </td>
                    </tr>

                    <tr>
                      <td>1</td>
                      <td>Micheal Pewd</td>
                      <td>09/10/1990</td>
                      <td><span class="badge badge-danger">Suspendu</span></td>
                      <td>
                        <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-eye"></i>&nbsp;Voir
                        </a>
                        <a href="javascript:" class="btn btn-danger btn-sm"><i
                            class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Micheal Pewd</td>
                      <td>09/10/1990</td>
                      <td><span class="badge badge-danger">Suspendu</span></td>
                      <td>
                        <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-eye"></i>&nbsp;Voir
                        </a>
                        <a href="javascript:" class="btn btn-danger btn-sm"><i
                            class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Micheal Pewd</td>
                      <td>09/10/1990</td>
                      <td><span class="badge badge-danger">Suspendu</span></td>
                      <td>
                        <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-eye"></i>&nbsp;Voir
                        </a>
                        <a href="javascript:" class="btn btn-danger btn-sm"><i
                            class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Micheal Pewd</td>
                      <td>09/10/1990</td>
                      <td><span class="badge badge-danger">Suspendu</span></td>
                      <td>
                        <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-eye"></i>&nbsp;Voir
                        </a>
                        <a href="javascript:" class="btn btn-danger btn-sm"><i
                            class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Micheal Pewd</td>
                      <td>09/10/1990</td>
                      <td><span class="badge badge-danger">Suspendu</span></td>
                      <td>
                        <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-eye"></i>&nbsp;Voir
                        </a>
                        <a href="javascript:" class="btn btn-danger btn-sm"><i
                            class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Micheal Pewd</td>
                      <td>09/10/1990</td>
                      <td><span class="badge badge-danger">Suspendu</span></td>
                      <td>
                        <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-eye"></i>&nbsp;Voir
                        </a>
                        <a href="javascript:" class="btn btn-danger btn-sm"><i
                            class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Micheal Pewd</td>
                      <td>09/10/1990</td>
                      <td><span class="badge badge-danger">Suspendu</span></td>
                      <td>
                        <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-eye"></i>&nbsp;Voir
                        </a>
                        <a href="javascript:" class="btn btn-danger btn-sm"><i
                            class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Micheal Pewd</td>
                      <td>09/10/1990</td>
                      <td><span class="badge badge-danger">Suspendu</span></td>
                      <td>
                        <a href="javascript:" class="btn btn-info btn-sm"><i class="feather icon-eye"></i>&nbsp;Voir
                        </a>
                        <a href="javascript:" class="btn btn-danger btn-sm"><i
                            class="feather icon-trash-2"></i>&nbsp;Supprimé </a>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </app-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- profile body end -->