<div class="row justify-content-center">
  <div class="col-sm-4">
    <app-card [hidHeader]="true" blockClass="text-center">
      <img src="assets/images/pages/festival.svg" alt="" class="img-fluid w-50">
      <h4 class="mt-3">Promotion</h4>
      <p class="mb-2">Création de 500 promotions </p>
      <p><span class="badge badge-primary">Durée : 30 jours</span> </p>
      <hr>
      <button type="button" class="btn btn-icon btn-outline-primary mr-2" (click)="modalMember.show()"><i class="feather icon-edit-2"></i></button>
      <button type="button" class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2"></i></button>
    </app-card>
  </div>

  <!-- <div class="col-sm-4">
    <app-card [hidHeader]="true" blockClass="text-center">
      <img src="assets/images/pages/medal-gold.svg" alt="" class="img-fluid w-50">
      <h4 class="mt-3">Promotion2</h4>
      <p class="mb-2">This is 90 days basic membership</p>
      <p><span class="badge badge-primary">26 Sales</span> </p>
      <hr>
      <button type="button" class="btn btn-icon btn-outline-primary mr-2" (click)="modalMember.show()"><i class="feather icon-eye"></i></button>
      <button type="button" class="btn btn-icon btn-outline-primary mr-2" (click)="modalMember.show()"><i class="feather icon-edit-2"></i></button>
      <button type="button" class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2"></i></button>
    </app-card>
  </div>
  <div class="col-sm-4">
    <app-card [hidHeader]="true" blockClass="text-center">
      <img src="assets/images/pages/medal-platinum.svg" alt="" class="img-fluid w-50">
      <h4 class="mt-3">Promotion3</h4>
      <p class="mb-2">Platinum Yearly Subscription</p>
      <p><span class="badge badge-primary">29 Sales</span> </p>
      <hr>
      <button type="button" class="btn btn-icon btn-outline-primary mr-2" (click)="modalMember.show()"><i class="feather icon-eye"></i></button>
      <button type="button" class="btn btn-icon btn-outline-primary mr-2" (click)="modalMember.show()"><i class="feather icon-edit-2"></i></button>
      <button type="button" class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2"></i></button>
    </app-card>
  </div>
  <div class="col-sm-12 text-center">
    <button type="button" class="btn btn-primary" (click)="modalMember.show()"><i class="feather icon-plus"></i>Nouvelle promotion</button>
  </div>
</div> -->

<app-ui-modal #modalMember [dialogClass]="'modal-lg btn-page'">
  <div class="app-modal-header">
    <h5 class="modal-title">Modification de promotion</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalMember.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label >Libellé</label>
          <input type="text" class="form-control" id="Name" value="Notre promotion">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label >Garantie</label>
          <input type="text" class="form-control" id="Price" value="25.000">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="col-sm-8"  style="display:inline-block;">
        <label >Durée</label>
          <input type="text" class="form-control" id="Period" placeholder="30">
        </div>
        <div class="col-sm-4"  style="display:inline-block;">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Mois</option>
            <option>Semaine</option>
            <option>Jours</option>
          </select>
        </div>
        <!-- <div class="form-group" >

        </div> -->
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label >Début</label>
          <input type="date" class="form-control" id="Period" placeholder="date debut">
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <textarea class="form-control" id="Description" rows="3" spellcheck="false" placeholder="Description"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modalMember.hide()">Clear</button>
    <button type="button" class="btn btn-primary">Submit</button>
  </div>
</app-ui-modal>
