<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Wallet" [options]="false">
      <div class="table-responsive">
        <table datatable id="report-table" class="table table-bordered table-striped mb-0">
          <thead>
          <tr>
            <th class="disabled center aligned"><i class="icon disabled id"></i></th>
            <th data-sort="string" class="asc">Nom et prénoms</th>
            <th data-sort="int">Prix</th>
            <th data-sort="int">Date et heure</th>
            <th class="disabled center aligned">Actions</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div><span class="wojo mini basic disabled label">1</span></div>
              </td>
              <td>
                Sergio Ramos
              </td>
              <td>
                <div><span>1.000.000</span></div>
              </td>
              <td>
                <div>12/02/1988 12:12</div>
              </td>
              <td>
                <button type="button" (click)="modalCountry.show()" class="btn btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button>
              </td>
            </tr>
            <tr>
              <td>
                <div><span class="wojo mini basic disabled label">1</span></div>
              </td>
              <td>
                Sergio Ramos
              </td>
              <td>
                <div><span>1.000.000</span></div>
              </td>
              <td>
                <div>12/02/1988 12:12</div>
              </td>
              <td>
                <button type="button" (click)="modalCountry.show()" class="btn btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button>
              </td>
            </tr>
            <tr>
              <td>
                <div><span class="wojo mini basic disabled label">1</span></div>
              </td>
              <td>
                Sergio Ramos
              </td>
              <td>
                <div><span>1.000.000</span></div>
              </td>
              <td>
                <div>12/02/1988 12:12</div>
              </td>
              <td>
                <button type="button" (click)="modalCountry.show()" class="btn btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button>
              </td>
            </tr>
            <tr>
              <td>
                <div><span class="wojo mini basic disabled label">1</span></div>
              </td>
              <td>
                Sergio Ramos
              </td>
              <td>
                <div><span>1.000.000</span></div>
              </td>
              <td>
                <div>12/02/1988 12:12</div>
              </td>
              <td>
                <button type="button" (click)="modalCountry.show()" class="btn btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button>
              </td>
            </tr>
            <tr>
              <td>
                <div><span class="wojo mini basic disabled label">1</span></div>
              </td>
              <td>
                Sergio Ramos
              </td>
              <td>
                <div><span>1.000.000</span></div>
              </td>
              <td>
                <div>12/02/1988 12:12</div>
              </td>
              <td>
                <button type="button" (click)="modalCountry.show()" class="btn btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button>
              </td>
            </tr>
            <tr>
              <td>
                <div><span class="wojo mini basic disabled label">1</span></div>
              </td>
              <td>
                Sergio Ramos
              </td>
              <td>
                <div><span>1.000.000</span></div>
              </td>
              <td>
                <div>12/02/1988 12:12</div>
              </td>
              <td>
                <button type="button" (click)="modalCountry.show()" class="btn btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button>
              </td>
            </tr>
            <tr>
              <td>
                <div><span class="wojo mini basic disabled label">1</span></div>
              </td>
              <td>
                Sergio Ramos
              </td>
              <td>
                <div><span>1.000.000</span></div>
              </td>
              <td>
                <div>12/02/1988 12:12</div>
              </td>
              <td>
                <button type="button" (click)="modalCountry.show()" class="btn btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button>
              </td>
            </tr>
            <tr>
              <td>
                <div><span class="wojo mini basic disabled label">1</span></div>
              </td>
              <td>
                Sergio Ramos
              </td>
              <td>
                <div><span>1.000.000</span></div>
              </td>
              <td>
                <div>12/02/1988 12:12</div>
              </td>
              <td>
                <button type="button" (click)="modalCountry.show()" class="btn btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button>
              </td>
            </tr>
            <tr>
              <td>
                <div><span class="wojo mini basic disabled label">1</span></div>
              </td>
              <td>
                Sergio Ramos
              </td>
              <td>
                <div><span>1.000.000</span></div>
              </td>
              <td>
                <div>12/02/1988 12:12</div>
              </td>
              <td>
                <button type="button" (click)="modalCountry.show()" class="btn btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button>
              </td>
            </tr>
            <tr>
              <td>
                <div><span class="wojo mini basic disabled label">1</span></div>
              </td>
              <td>
                Sergio Ramos
              </td>
              <td>
                <div><span>1.000.000</span></div>
              </td>
              <td>
                <div>12/02/1988 12:12</div>
              </td>
              <td>
                <button type="button" (click)="modalCountry.show()" class="btn btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button>
              </td>
            </tr>
            <tr>
              <td>
                <div><span class="wojo mini basic disabled label">1</span></div>
              </td>
              <td>
                Sergio Ramos
              </td>
              <td>
                <div><span>1.000.000</span></div>
              </td>
              <td>
                <div>12/02/1988 12:12</div>
              </td>
              <td>
                <button type="button" (click)="modalCountry.show()" class="btn btn-icon btn-outline-success"><i class="feather icon-check-circle"></i></button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </app-card>
    <app-ui-modal [dialogClass]="'modal-lg btn-page'" #modalCountry>
      <div class="app-modal-header">
        <h5 class="modal-title">Edit Country</h5>
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalCountry.hide()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="app-modal-body">
        <div class="col-lg-4 col-md-6 element-item realestate">
          <app-card [hidHeader]="true">
            <div class="media align-items-center p-0">
              <div class="text-center">
                <a href="javascript:"><i class="cc XRP f-36 mr-3" title="XRP"></i></a>
              </div>
              <div>
                <h4 class="m-0 text-bold">Ripple</h4>
                <span>Real Estate</span>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-3">
              <div>
                <p class="m-0 font-weight-600"><span class="text-primary">25.000</span> / 30.000</p>
              </div>
              <div class="text-right">
                <p class="m-0 font-weight-600"><span class="text-primary">84</span>%</p>
              </div>
            </div>
          </app-card>
        </div>
      </div>
      <div class="app-modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modalCountry.hide()">Clear</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </app-ui-modal>
  </div>
</div>
